.App {
  text-align: center;
}
.Header {
  color: #331515;
  text-shadow: 1px 1px 5px #fff;
  background-image: url('./images/mortyBackground.jpg');
  border: solid white;
}
/* write your parent styles in here for your App.js */
p {
  color: black;
  font-weight: bold;
}

.photo {
  margin-top: 2%;
}